* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333333;
  color: aliceblue;
  line-height: 1.6;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  /* css smooth scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
  transition: 0.6s ease;
}

.navbar ul li a:hover {
  color: rgb(184, 118, 32);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

section h1 {
  font-size: 4rem;
  transition: 0.6s ease;
}
section h1:hover {
  transform: scale(1.01);
  cursor: default;
}
section h2 {
  transform: translateY(-30px);
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  transition: 0.6s ease;
}

a#after {
  transform: translateY(-30px);
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  transition: 0.6s ease;
}
a#after:hover {
  transform: translateY(-30px) scale(1.1);
}
a#before {
  transform: translateY(-30px);
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  transition: 0.6s ease;
}
a#before:hover {
  transform: translateY(-30px) scale(1.1);
}
a#previous-work {
  transform: translateY(-30px);
  font-size: 4rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.6s ease;
}
a#previous-work:hover {
  transform: translateY(-30px) scale(1.05);
}
p#scroll-for-pictures {
  transform: translateY(-45px);
  font-size: 1.5rem;


}

h1#h1-kitchen-before:hover {
  transform: scale(1);
}

section h2:hover {
  transform: scale(1.05) translateY(-30px);
  font-family: "Roboto", sans-serif;
  cursor: default;
}

section p {
  font-size: 1.5rem;
}

section#home {
  background: url("https://images.unsplash.com/photo-1525034687081-c702010cb70d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80")
    no-repeat center center/cover;
}
section#about {
  background: url(/about-me-background.png) no-repeat center center/cover;
}
section#past-work {
  background: url("https://images.unsplash.com/photo-1508873535684-277a3cbcc4e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80")
    no-repeat center center/cover;
}
section#contact {
  background: url(/workshop.png) no-repeat center center/cover;
}
section#kitchen-before {
  background: url(/kitchen-before.png) no-repeat center center/cover;
}
section#kitchen-after {
  background: url(/kitchen-after.png) no-repeat center center/cover;
}
section#previous-work {
  background: url("https://images.pexels.com/photos/172289/pexels-photo-172289.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260")
    no-repeat center center/cover;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.email-input {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 0.4rem;
  transition: 1s ease;
  border: 1px solid rgb(129, 64, 26);
  background: white;
  width: 95%;
}

textarea {
  cursor: pointer;
  border-radius: 0.4rem;
  border: 1px solid rgb(156, 78, 32);
  background: white;
}

button {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 0.4rem;
  border: 1px solid rgb(165, 82, 33);
  background: white;
  transition: 0.4s ease;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.wood-divider {
  position: relative;
  width: 98vw;
  transform: translateY(38vh);
}
.wood-divider2 {
  position: relative;
  width: 98vw;
  transform: translateY(42.5vh);
}
.wood-divider3 {
  position: relative;
  width: 98vw;
  transform: translateY(45vh);
}

h1#tommy-day {
  font-size: 90px;
  color: rgba(95, 49, 6, 0.7);
  mix-blend-mode: color-burn;
  transition: 0.6s ease;
}
h1#tommy-day:hover {
  transform: scale(1.05);
  font-size: 90px;
  color: rgba(95, 49, 6, 0.7);
  mix-blend-mode: color-burn;
}

h2#master-carpenter {
  color: rgba(70, 38, 9, 0.7);
  mix-blend-mode: color-burn;
}
p#kitchen-remodeling {
  font-size: 40px;
  transform: translateY(30px);
}

p#custom-carpentry {
  color: rgba(88, 47, 8, 0.7);
  mix-blend-mode: color-burn;
}
